* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    font-family: 'Roboto', sans-serif;
}

header,
footer {
    background-color: #6C63FF;
}

.login-btn {    
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    padding: 10px 38px 10px 38px;
    background-color: transparent;
}